<!DOCTYPE html>
<html>
<head>
	<title>BLOG</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/navigasi.css">
    <link rel="stylesheet" type="text/css" href="assets/css/blog1.css">
    <script src="assets/js/blog.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="padding: 15px">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
            <a class="navbar-brand" href="index.html" >
              <img src="assets/img/logo.JPG" alt="LOGO" width="50" height="50" style="margin-top: -15px">
          </a>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="./index.html">TENTANG KAMI</a></li>
              <li><a href="./pelatihan.html">PELATIHAN</a></li>
              <li><a href="./blog.html">BLOG</a></li>
              <li><a href="./agenda.html">AGENDA</a></li>
              <li><a href="./faq.html">FAQ</a></li>
            </ul>
        </div>
      </div>
  </nav>
	<center>
		<div class="jumbotron text-center">
  			<h1>B L O G</h1> 
  			<p>We specialize in blablabla</p>	
		</div>
	</center>
	<div class="container-fluid text-center">
  		<h2><strong>Berita Terbaru</strong></h2>
  		<h4>Mengenai LAPPI</h4>
  		
      <div class="container" ng-app="app">
        <div class="row text-center" style="margin: 20px">
          <div class="col-sm-4" ng-controller="ctrl">
            <a href="" ng-click="redirect1()" style="text-decoration: none;">
                <div class="thumbnail" style="background-image: url(assets/img/grapic2.jpg); width: 100%; object-fit: contain">
                  <p><strong>Berita 1</strong><br>
                    <span>Mengenai berita LAPPI 1</span>
                  </p>
                </div>
              </a>
          </div>
          <div class="col-sm-8" ng-controller="ctrl">
            <a href="" ng-click="redirect2()" style="text-decoration: none;">
                <div class="thumbnail" style="background-image: url(assets/img/grapic3.jpg);">
                  <p><strong>Berita 2</strong><br>
                    <span>Mengenai berita LAPPI 2</span>
                  </p>
                </div>
              </a>
          </div>
          <div class="col-sm-8" ng-controller="ctrl">
            <a href="" ng-click="redirect3()" style="text-decoration: none;">
                <div class="thumbnail" style="background-image: url(assets/img/grapic5.jpg);">
                  <p><strong>Berita 3</strong><br>
                    <span>Mengenai berita LAPPI 3</span>
                  </p>
                </div>
              </a>
          </div>
          <div class="col-sm-4" ng-controller="ctrl">
            <a href="" ng-click="redirect4()" style="text-decoration: none;">
                <div class="thumbnail" style="background-image: url(assets/img/grapic4.jpg);">
                  <p><strong>Berita 4</strong><br>
                    <span>Mengenai berita LAPPI 4</span>
                  </p>
                </div>
              </a>
          </div>

  		      <div class="col-12 text-right" style="margin-right: 10px" >
                <a href="blogall.html" style="text-decoration: none; color: #13CE66; font-size: 18px;">Lihat Semua
                	<span class="glyphicon glyphicon-chevron-right"></span></a>
  		      </div>
        </div>
      </div>
	</div>

<footer  style="background-color: #068D67;color: white;">
        <div class="container text-center atas-footer">
            <div class="row">
                <div class="col-md-4" style="margin-top: 50px;">
                    <div id="tulisan_trigger" style="font-family: 'Roboto';font-size: 22px; font-style: bold;">LOCATION</div> <br>
                    <div id="tulisan" style=" font-family: 'Roboto';font-size: 14px; font-style: bold;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    
                        <div id="googleMap" style="width:0%;height:0px; margin-bottom: 16px;"></div>

                        <script>
                        function myMap() {
                        var mapProp= {
                            center:new google.maps.LatLng(-7.7597759,110.4088221),
                            zoom:10,
                        };
                        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                        }
                        </script>

                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDau-FKtWQApNrIZcm-xadEJtrr7I9j51o&callback=myMap"></script>
                </div>
                
                <div class="col-md-4" style="margin-top: 50px;">
                    <div style=" font-family: 'Roboto';font-size: 22px; font-style: bold;">AROUND THE WEB</div> <br>
                    <div class="row" align="center" style="margin-right: 8px; text-decoration: none;">
                         <a href="http://www.facebook.com" class="fa fa-facebook" style="text-decoration: none;"></a>
                        <a href="http://www.twitter.com" class="fa fa-twitter" style="text-decoration: none;"></a>
                        <a href="http:/www.instagram.com" class="fa fa-instagram" style="text-decoration: none;"></a>
                        <a href="http:/www.youtube.com" class="fa fa-youtube" style="text-decoration: none;"></a>                   
                </div>
                </div>
                <div class="col-md-4" style="margin-top: 50px;">
                    <div style=" font-family: 'Roboto';font-size: 22px; font-style: bold;">CONTACT US</div> <br>
                    <div style=" font-family: 'Roboto';font-size: 14px; font-style: bold;">083863593475(Yogi)<br>083845633456(Ryan)</div>
                </div>
                </div>
                </div>

                <div class="container-fluid" style="text-align: center;background-color: #03A678;color: white;" align="center">
            <div class="row">
              <div style="margin:auto;">COPYRIGHT<i class="fa fa-sm fa-copyright"></i>LAPPI 2018</div>
            </div>
            </div>
           
        </div>
    </footer>


<script type="text/javascript">
  $("#tulisan_trigger" ).mouseover(function() {
    $("#tulisan").css("font-size", "0px")
    $("#tulisan" ).css( "transition","all .3s ease" );
    $("#googleMap" ).css( "transition","all .3s ease" );
    $("#googleMap" ).css( "width", "100%");
    $("#googleMap" ).css( "height", "150px");
  });

  $("#tulisan_trigger" ).mouseleave(function() {
    $("#tulisan").css("font-size", "14px")
    $("#tulisan" ).css( "transition","all .3s ease" );
    $("#googleMap" ).css( "transition","all .3s ease" );
    $("#googleMap" ).css( "width", "0%");
    $("#googleMap" ).css( "height", "0px");
  });

  // $( "#tulisan_trigger" ).mouseout(function() {     
  // $( "#tulisan" ).css( "font-size", "14px" );
  // $( "#tulisan" ).css( "transition","all .3s ease" });
</script>

</body>
</html>