.card {
    transition: 0.3s;
    width: 1025px;
    display: flex;
}

.tengah{
    align-content: center;
    margin: 20px;
}


.images {
    padding: 2px 16px;
    background-color: white;
}


.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #068D67;
}

/* Twitter */
.fa-twitter {
    background: white;
    color: #068D67;
}
.fa-instagram {
    background: white;
    color: #068D67;
}

/* Twitter */
.fa-youtube {
    background: white;
    color: #068D67;
}
.fa-chevron-circle-right{

    color: #068D67;
}
